<!-- MAIN CONTENT -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <!-- Header -->
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <!-- Pretitle -->
                <h6 class="header-pretitle">Overview</h6>

                <!-- Title -->
                <h1 class="header-title text-truncate">Update Settings</h1>
              </div>
            </div>
            <!-- / .row -->
          </div>
        </div>
        <!-- <div class="row h3">System Settings</div> -->
        <div class="card">
          <div class="card-body">
            <!-- List group -->
            <div class="list-group list-group-flush my-n3">
              <div class="list-group-item">
                <div class="row align-items-center">
                  <div class="col-9">
                    <!-- Heading -->
                    <span class="font-weight-base">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur.
                    </span>
                  </div>
                  <div class="col-3">
                    <!-- Switch -->
                    <div class="form-check form-switch">
                      <select class="form-select">
                        <option>Select Option 1</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!-- / .row -->
              </div>
            </div>
            <div class="list-group list-group-flush my-n3">
              <div class="list-group-item">
                <div class="row align-items-center">
                  <div class="col-9">
                    <!-- Heading -->
                    <span class="font-weight-base">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur.
                    </span>
                  </div>
                  <div class="col-3">
                    <!-- Switch -->
                    <div class="form-check form-switch">
                      <select class="form-select">
                        <option>Select Option 1</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!-- / .row -->
              </div>
            </div>
            <div class="list-group list-group-flush my-n3">
              <div class="list-group-item">
                <div class="row align-items-center">
                  <div class="col-9">
                    <!-- Heading -->
                    <span class="font-weight-base">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur.
                    </span>
                  </div>
                  <div class="col-3">
                    <!-- Switch -->
                    <div class="form-check form-switch">
                      <select class="form-select">
                        <option>Select Option 1</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!-- / .row -->
              </div>
            </div>
            <div class="list-group list-group-flush my-n3">
              <div class="list-group-item">
                <div class="row align-items-center">
                  <div class="col-9">
                    <!-- Heading -->
                    <span class="font-weight-base">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur.
                    </span>
                  </div>
                  <div class="col-3" stsyle="border: 1px solid red;">
                    <!-- Switch -->
                    <div class="text-center" stsyle="border: 1px solid red;">
                      <input
                        class="form-check-input"
                        id=""
                        type="checkbox"
                        checked
                      />
                    </div>
                  </div>
                </div>
                <!-- / .row -->
              </div>
            </div>
            <div class="list-group list-group-flush my-n3">
              <div class="list-group-item">
                <div class="row align-items-center">
                  <div class="col-9">
                    <!-- Heading -->
                    <span class="font-weight-base">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur.
                    </span>
                  </div>
                  <div class="col-3" stsyle="border: 1px solid red;">
                    <!-- Switch -->
                    <div class="text-center" stsyle="border: 1px solid red;">
                      <input
                        class="form-check-input"
                        id=""
                        type="checkbox"
                        checked
                      />
                    </div>
                  </div>
                </div>
                <!-- / .row -->
              </div>
            </div>
            <div class="list-group list-group-flush my-n3">
              <div class="list-group-item">
                <div class="row align-items-center">
                  <div class="col-9">
                    <!-- Heading -->
                    <span class="font-weight-base">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur.
                    </span>
                  </div>
                  <div class="col-3" stsyle="border: 1px solid red;">
                    <!-- Switch -->
                    <div class="text-center" stsyle="border: 1px solid red;">
                      <input
                        class="form-check-input"
                        id=""
                        type="checkbox"
                        checked
                      />
                    </div>
                  </div>
                </div>
                <!-- / .row -->
              </div>
            </div>
          </div>
        </div>
        <!-- / .row -->
        <div class="row">
          <div class="col-12 col-md-3">
            <a href="#" class="btn w-100 btn-white"> Cancel </a>
          </div>
          <div class="col-12 col-md-6"></div>
          <div class="col-12 col-md-3 d-grid">
            <a href="#" class="btn w-100 btn-primary"> Update </a>
          </div>
        </div>
      </div>
    </div>
    <!-- / .main-content -->
  </div>
</div>
