<!-- MAIN CONTENT -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-12 col-xl-12 mb-5">
        <!-- new header starts -->
        <div class="header my-3 xsticky-top" style="background-color: white">
          <div class="header-body border-0">
            <div class="row align-items-center">
              <div class="col col-md-2 col-lg-1">
                <div class="btn-group" role="group" aria-label="...">
                  <button
                    type="button"
                    class="btn btn-white btn-sm pb-1"
                    (click)="pageLocation.back()"
                  >
                    <svg
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                      stroke="currentColor"
                      stroke-width="2.5"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="css-i6dzq1"
                    >
                      <polyline points="15 18 9 12 15 6"></polyline>
                    </svg>
                  </button>
                  <button
                    type="button"
                    class="btn btn-white btn-sm pb-1"
                    (click)="pageLocation.forward()"
                  >
                    <svg
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                      stroke="currentColor"
                      stroke-width="2.5"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="css-i6dzq1"
                    >
                      <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                  </button>
                </div>
              </div>
              <div class="col px-5">
                <nav aria-label="breadcrumb" class="">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a routerLink="/home/dashboard{{ loginUser }}">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                      <a>Recruiter Details</a>
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!-- new header ends -->

        <!-- Form -->
        <form class="mb-4 card card-body">
          <!-- Project name -->
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="form-group">
                <label class="form-label"> RA </label>
                <input
                  type="text"
                  [value]="data?.ra"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label class="form-label"> Email </label>
                <input
                  type="text"
                  [value]="data?.email"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label class="form-label"> Phone </label>
                <input
                  type="text"
                  [value]="data?.mobile"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <ng-container *ngIf="data?.kyc">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label class="form-label"> Raid </label>
                <input
                  type="text"
                  [value]="data?.kyc?.raid"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label class="form-label"> License No </label>
                <input
                  type="text"
                  [value]="data?.kyc?.licenseNo"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label class="form-label"> GST No </label>
                <input
                  type="text"
                  [value]="data?.kyc?.gstNo"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label class="form-label"> Auth Sign Email </label>
                <input
                  type="text"
                  [value]="data?.kyc?.authSignEmail"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label class="form-label"> Auth Sign Phone </label>
                <input
                  type="text"
                  [value]="data?.kyc?.authSignPhone"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
          </ng-container>
          </div>
          <div class="row">
            <div class="col-4">
              <a
                class="btn btn-outline-primary btn-sm"
                style="width: 150px"
                routerLink="/recruiters/manage"
                >Back</a
              >
            </div>
            <div class="col-8 text-end">
              <a class="btn btn-outline-danger btn-sm" (click)="delete(userId)"
                >Remove Recruiter</a
              >&nbsp;

              <a
                class="btn btn-outline-primary btn-sm"
                routerLink="/recruiters/update/{{ userId }}"
                >Edit Recruiter</a
              >
            </div>
          </div>
          <!-- Buttons -->
          <!-- <div class="row">
                        <div class="col-12 col-md-4">
                            <a href="#" class="btn w-100 btn-white">
                                Cancel
                            </a>
                        </div>
                        <div class="col-12 col-md-4">
                        </div>
                        <div class="col-12 col-md-4 d-grid">
                            <a href="#" class="btn w-100 btn-primary">
                                Submit
                            </a>
                        </div>
                    </div> -->

          <!-- <a href="#" class="btn w-100 btn-link text-muted mt-2">
                        Cancel this project
                    </a> -->
        </form>
      </div>
    </div>
    <!-- / .row -->
  </div>
</div>
<!-- / .main-content -->
