<!-- MAIN CONTENT -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-12 col-xl-12">
        <!-- Header -->
        <div class="header mt-md-5">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <!-- Pretitle -->
                <h6 class="header-pretitle">Overview</h6>

                <!-- Title -->
                <h1 class="header-title">Verify Data</h1>
              </div>
            </div>
            <!-- / .row -->
          </div>
        </div>

        <!-- Form -->
        <form class="mb-4 card card-body">
          <div class="row">
            <div class="col-12 col-md-12 mb-2">
              <h3>Job Details</h3>
            </div>
          </div>
          <!-- Project name -->
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <!-- Label  -->
                <label class="form-label"> Category </label>

                <!-- Input -->
                <select class="form-select">
                  <option>Category 1</option>
                  <option>Category 2</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <!-- Label  -->
                <label class="form-label"> Sub Category </label>

                <!-- Input -->
                <select class="form-select">
                  <option>Category 1</option>
                  <option>Category 2</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <!-- Label  -->
                <label class="form-label"> Full Name </label>

                <!-- Input -->
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <!-- Label  -->
                <label class="form-label"> Mobile Number </label>

                <!-- Input -->
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <!-- <hr class="mt-2 mb-4">
                   
                    <!-- Buttons --
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <a href="#" class="btn w-100 btn-white">
                                Cancel
                            </a>
                        </div>
                        <div class="col-12 col-md-4">
                        </div>
                        <div class="col-12 col-md-4 d-grid">
                            <a href="#" class="btn w-100 btn-primary">
                                Submit
                            </a>
                        </div>
                    </div> -->

          <!-- <a href="#" class="btn w-100 btn-link text-muted mt-2">
                        Cancel this project
                    </a> -->
        </form>
        <form class="mb-4 card card-body">
          <!-- Project name -->
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <!-- Label  -->
                <label class="form-label"> Full Name </label>

                <!-- Input -->
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <!-- Label  -->
                <label class="form-label"> Mobile Number </label>

                <!-- Input -->
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <hr class="mt-2 mb-4" />

          <!-- Buttons -->
          <div class="row">
            <div class="col-12 col-md-4">
              <a href="#" class="btn w-100 btn-white"> Cancel </a>
            </div>
            <div class="col-12 col-md-4"></div>
            <div class="col-12 col-md-4 d-grid">
              <a href="#" class="btn w-100 btn-primary"> Verify Job </a>
            </div>
          </div>

          <!-- <a href="#" class="btn w-100 btn-link text-muted mt-2">
                        Cancel this project
                    </a> -->
        </form>
      </div>
    </div>
    <!-- / .row -->
  </div>
</div>
<!-- / .main-content -->
