<!-- MAIN CONTENT -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-12 col-xl-12">
        <!-- Header -->
        <div class="header mt-md-5">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <!-- Pretitle -->
                <h6 class="header-pretitle">Overview</h6>

                <!-- Title -->
                <h1 class="header-title">Candidate Detailed</h1>
              </div>
              <div class="col-auto">
                <a class="btn btn-outline-primary">Print Application</a>
              </div>
            </div>
            <!-- / .row -->
          </div>
        </div>

        <!-- Form -->
        <form class="mb-4 card card-body">
          <div class="row">
            <div class="col-12 col-md-12 mb-2">
              <h3># Job Request Code</h3>
            </div>
          </div>
          <!-- Project name -->
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <!-- Label  -->
                <label class="form-label"> Job Name </label>

                <!-- Input -->
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <!-- Label  -->
                <label class="form-label"> Recruiting Agency </label>

                <!-- Input -->
                <input type="text" class="form-control" />
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group">
                <!-- Label  -->
                <label class="form-label"> Country </label>

                <!-- Input -->
                <select class="form-select">
                  <option>India</option>
                  <option>USA</option>
                </select>
                <!-- <input type="text" class="form-control"> -->
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group">
                <!-- Label  -->
                <label class="form-label"> Company </label>

                <!-- Input -->
                <!-- <textarea class="form-control"></textarea> -->
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <!-- <hr class="mt-2 mb-4"> -->
        </form>

        <form class="mb-4 card card-body">
          <div class="row">
            <div class="col-12 col-md-12 mb-2">
              <h3>Personal Details</h3>
            </div>
          </div>
          <!-- Project name -->
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <!-- Label  -->
                <label class="form-label"> Full Name </label>

                <!-- Input -->
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <!-- Label  -->
                <label class="form-label"> Email </label>

                <!-- Input -->
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <!-- Label  -->
                <label class="form-label"> Category </label>

                <!-- Input -->
                <input type="text" class="form-control" />
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group">
                <!-- Label  -->
                <label class="form-label"> Sub Category </label>

                <!-- Input -->
                <input type="text" class="form-control" />
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group">
                <!-- Label  -->
                <label class="form-label"> Gender </label>

                <!-- Input -->
                <!-- <textarea class="form-control"></textarea> -->
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <!-- Label  -->
                <label class="form-label"> Pincode </label>

                <!-- Input -->
                <!-- <textarea class="form-control"></textarea> -->
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <hr class="mt-2 mb-4" />
        </form>

        <form class="mb-4 card card-body">
          <div class="row">
            <div class="col-12 col-md-12 mb-2">
              <h3>Attachments Need to Submit</h3>
            </div>
          </div>
          <!-- Project name -->
          <!-- <div class="row"> -->
          <div class="row mb-4">
            <!-- <div class="h4">Attachments Need to Submit</div> -->
            <div>1. Lorem ipsum (File) - <a href="" class="">Download</a></div>
            <div>2. Lorem ipsum (File) - <a href="" class="">Download</a></div>
            <div>3. Lorem ipsum (File) - <a href="" class="">Download</a></div>
          </div>
          <!-- </div> -->
          <!-- <hr class="mt-2 mb-4"> -->
        </form>

        <form class="mb-4 card card-body">
          <div class="row">
            <div class="col-12 col-md-12 mb-2">
              <h3>Payment Details</h3>
            </div>
          </div>
          <!-- Project name -->
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <!-- Label  -->
                <label class="form-label"> Payment Mode </label>

                <!-- Input -->
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <!-- Label  -->
                <label class="form-label"> Payment Amount </label>

                <!-- Input -->
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <!-- Label  -->
                <label class="form-label"> Transaction Number </label>

                <!-- Input -->
                <input type="text" class="form-control" />
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group">
                <!-- Label  -->
                <label class="form-label"> Status </label>

                <!-- Input -->
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <!-- <hr class="mt-2 mb-4"> -->
        </form>
      </div>
    </div>
    <!-- / .row -->
  </div>
</div>
<!-- / .main-content -->
