<div
  class="d-flex align-items-center bg-auth border-top border-top-2 border-primary"
  style="height: 100vh"
>
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-12 col-md-5 col-lg-6 col-xl-4 px-lg-6 my-5">
        <h1 class="display-4 text-center mb-3 mt-3">Reset Password</h1>
        <br />
        <form [formGroup]="resetForm">
          <div *ngIf="validToken">
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <label for="password">New Password</label>
                </div>
              </div>
              <div class="input-group">
                <input
                  type="{{ showPassword ? 'text' : 'password' }}"
                  id="password"
                  formControlName="password"
                  class="form-control"
                  placeholder="Enter New password"
                  appTrim
                />
                <div class="input-group-append">
                  <button
                    type="button"
                    class="btn btn-outline-secondary"
                    (click)="togglePasswordVisibility('password')"
                  >
                    <i class="fas fa-eye" *ngIf="!showPassword"></i>
                    <i class="fas fa-eye-slash" *ngIf="showPassword"></i>
                  </button>
                </div>
              </div>

              <div
                *ngIf="
                  resetForm.get('password')?.invalid &&
                  (resetForm.get('password')?.dirty ||
                    resetForm.get('password')?.touched)
                "
              >
                <div
                  class="text-danger text-sm p-2 border rounded"
                  *ngIf="resetForm.get('password')?.dirty"
                  style="
                    border-color: #dc3545;
                    background-color: white;
                    margin-top: 10px;
                  "
                >
                  <small
                    class="block"
                    [ngClass]="{
                      'text-success': resetForm
                        .get('password')
                        ?.value?.match('^(?=.*[A-Z])'),
                      'text-danger': !resetForm
                        .get('password')
                        ?.value?.match('^(?=.*[A-Z])')
                    }"
                    >At least one uppercase letter.</small
                  >
                  <br />
                  <small
                    class="block mt-1"
                    [ngClass]="{
                      'text-success': resetForm
                        .get('password')
                        ?.value?.match('(?=.*[a-z])'),
                      'text-danger': !resetForm
                        .get('password')
                        ?.value?.match('(?=.*[a-z])')
                    }"
                    >At least one lowercase letter.</small
                  >
                  <br />
                  <small
                    class="block mt-1"
                    [ngClass]="{
                      'text-success': resetForm
                        .get('password')
                        ?.value?.match('(.*[0-9].*)'),
                      'text-danger': !resetForm
                        .get('password')
                        ?.value?.match('(.*[0-9].*)')
                    }"
                    >At least one digit.</small
                  >
                  <br />
                  <small
                    class="block mt-1"
                    [ngClass]="{
                      'text-success': resetForm
                        .get('password')
                        ?.value?.match('(?=.*[!@#$%^&*])'),
                      'text-danger': !resetForm
                        .get('password')
                        ?.value?.match('(?=.*[!@#$%^&*])')
                    }"
                    >At least one special character.</small
                  >
                  <br />
                  <small
                    class="block mt-1"
                    [ngClass]="{
                      'text-success': resetForm
                        .get('password')
                        ?.value?.match('.{8,}'),
                      'text-danger': !resetForm
                        .get('password')
                        ?.value?.match('.{8,}')
                    }"
                    >At least 8 characters long.</small
                  >
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col">
                  <label for="cPassword">Confirm Password</label>
                </div>
              </div>
              <div class="input-group">
                <input
                  type="{{ showCPassword ? 'text' : 'password' }}"
                  id="cPassword"
                  formControlName="cPassword"
                  class="form-control"
                  placeholder="Enter Confirm password"
                  appTrim
                />
                <div class="input-group-append">
                  <button
                    type="button"
                    class="btn btn-outline-secondary"
                    (click)="togglePasswordVisibility('cPassword')"
                  >
                    <i class="fas fa-eye" *ngIf="!showCPassword"></i>
                    <i class="fas fa-eye-slash" *ngIf="showCPassword"></i>
                  </button>
                </div>
              </div>
              <small
                *ngIf="
                  resetForm.hasError('passwordMismatch') &&
                  (resetForm.get('password')?.dirty ||
                    resetForm.get('cPassword')?.dirty) &&
                  resetForm.get('cPassword')?.value
                "
                class="text-danger"
              >
                Passwords do not match.
              </small>
            </div>
            <br />
            <button class="btn btn-lg w-100 btn-dark" (click)="resetPassword()">
              Submit</button
            >&nbsp;
          </div>
          <div class="alert alert-danger" *ngIf="!validToken">
            <strong>Expired !</strong> Your current link has been expired. Try
            to
            <a style="color: white" routerLink="/auth/reset-password"
              ><strong>re-generate</strong></a
            >.
          </div>
        </form>
      </div>
      <div class="col-12 col-md-7 col-lg-6 col-xl-8 d-none d-lg-block">
        <div
          class="bg-cover vh-100 mt-n1 me-n3"
          style="background-image: url('assets/img/covers/bg1.jpg')"
        ></div>
      </div>
    </div>
  </div>
</div>
